<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="submitForm()" [formGroup]="recipeEditForm">
      
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" style="float: right;">save</button>
          <button type="button" class="btn btn-danger" style="float: right;">cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
            id="name"
            type="text"
            formControlName="name"
            class="form-control"
            placeholder="Recipe Name">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
            type="text"
            id="imagePath"
            formControlName="imagePath"
            class="form-control"
            placeholder="Image Url">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-responsive">
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
            type="text"
            id="description"
            formControlName="description"
            class="form-control"
            rows="6"
            placeholder="Description"></textarea>
          </div>
        </div>
      </div>

      
        <div class="row">
          <div class="col-xs-12">
            <div class="row" *ngFor="let ingredientCtrl of controls; let i = index">
              <div class="col-xs-8">
                <label for="ingredientName">Ingredients</label>
                <input
                  type="text"
                  class="form-control"
                  id="ingredientName"
                  [formControl]="ingredientCtrl.controls.name"
                  placeholder="Ingredient Name">
              </div>
              
              <div class="col-xs-2">
                <label for="ingredientAmount">Amount</label>
                <input
                  type="text"
                  class="form-control"
                  id="ingredientAmount"
                  [formControl]="ingredientCtrl.controls.amount"
                  placeholder="xx">
              </div>

              <div class="col-xs-2">
                <label for="deleteIngredientButton">Delete</label>
                <button class="btn btn-danger">x</button>
              </div>
            </div>  
            <hr>
            <div class="row">
              <div class="col xs 12">
                <button class="btn btn-success" (click)="addIngredient()">Add Ingredient</button>
              </div>
            </div>
          </div>

        </div>
    </form>
  </div>
</div>